name: release-buildx

on:
  push:
    tags:
      - '*'

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.ref }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64,amd64
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      - name: Set Release Tag Env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Buildx
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --output "type=image,push=true" \
            --file ./Dockerfile \
            --tag $GITHUB_REPOSITORY:$GITHUB_SHA \
            --tag $GITHUB_REPOSITORY:$RELEASE_VERSION \
            --tag $GITHUB_REPOSITORY:latest \
            --tag ghcr.io/$GITHUB_REPOSITORY:$GITHUB_SHA \
            --tag ghcr.io/$GITHUB_REPOSITORY:$RELEASE_VERSION \
            --tag ghcr.io/$GITHUB_REPOSITORY:latest . 
